* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #222;
}

.btn {
  font-family: 'Oswald', sans-serif;
  display: block;
  height: 40px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  width: 190px;
  font-size: 13px;
  line-height: 2em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
      -ms-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  color: #fff;
  border: 2px solid #fff;
}
.btn:before, .btn:after {
  width: 0%;
  height: 2px;
  position: absolute;
  background: #e5c100;
  -webkit-transition: width .4s ease-in-out;
          transition: width .4s ease-in-out;
  content: " ";
}
.btn:before {
  left: 0;
  top: -2px;
}
.btn:after {
  bottom: -2px;
  right: 0;
}
.btn:hover {
  padding: 5px 25px 5px 35px;
  border-color: #e5c100;
  color: #fffbe5;
}
.btn:hover:before, .btn:hover:after {
  width: 100%;
}
